/* Print styles */
@page {
    size: A4 landscape; /* set the page size to A4 in landscape orientation */
    margin: 0; /* remove the default margins */
}
/*content styles*/
.content {
    font-size: 9pt;
    color: #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    height: 100vh;
}

.column {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.header {
    margin-top: 15px;
}

/* Footer styles */
/* .footer { */
/* position: absolute;
    bottom: 0px; */
/* background-color: #ccc; */
/* grid-column: 1 / 4; */
/* } */
